@page "/IndexEntriesList"

<RadzenDataGrid 
    TItem="IndexEntry"
    Data="@_pageItems"
    LoadData="@LoadData"
    IsLoading=@_isLoading 
    Count="@_itemsCount"
    SelectionMode="DataGridSelectionMode.Single" 
    @bind-Value=@_selectedItems
    AllowRowSelectOnRowClick="true"
    AllowFiltering="true"    
    FilterPopupRenderMode="PopupRenderMode.OnDemand" 
    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
    AllowColumnResize="true" 
    AllowAlternatingRows="true" 
    AllowSorting="false"
    PageSize="50" 
    AllowPaging="true"
    ShowPagingSummary="true"    
    ColumnWidth="300px"
>
    <Columns>
        <RadzenDataGridColumn TItem="IndexEntry" Property="Name" Filterable="true" Title="Name" Width="400px">
            <Template Context="indexEntry">
                <span class="dcz-link" @onclick=@(_ => Launch(indexEntry))>
                    <RadzenIcon Icon="@GetIcon(indexEntry)" />@indexEntry.Name
                </span>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="IndexEntry" Property="Extension" Filterable="true" Title="Extension" Width="70px" />
        <RadzenDataGridColumn TItem="IndexEntry" Property="Path" Filterable="false" Title="Path" Width="500px" Visible="false">
            <Template Context="indexEntry">
                <span class="dcz-link" @onclick=@(_ => ShowInExplorer(indexEntry.Path))>
                    @indexEntry.Path
                </span>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="IndexEntry" Property="Root.Path" Filterable="true" Title="Root Folder" Width="200px" Visible="false">
            <Template Context="indexEntry">
                <span class="dcz-link" @onclick=@(_ => ShowInExplorer(indexEntry.Root.Path))>
                    @indexEntry.Root.Path
                </span>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="IndexEntry" Property="RelativePath" Filterable="true" Title="Relative Path" Width="500px" Visible="false">
            <Template Context="indexEntry">
                <span class="dcz-link" @onclick=@(_ => ShowInExplorer(indexEntry.Path))>
                    @indexEntry.RelativePath
                </span>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="IndexEntry" Property="ContainerPath" Filterable="false" Title="Location" Width="500px" Visible="true">
            <Template Context="indexEntry">
                <span class="dcz-link" @onclick=@(_ => ShowInExplorer(indexEntry.ContainerPath))>
                    @indexEntry.ContainerPath
                </span>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="IndexEntry" Property="LastSeen" Filterable="true" Title="Last seen" Width="200px" Visible="true">
            <Template Context="indexEntry">
                @if (indexEntry.LastSeen.HasValue)
                {
                    <span>@indexEntry.LastSeen</span>
                }
                else
                {
                    <span>Never</span>
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="IndexEntry" Property="StillFound" Filterable="true" Title="Still Found" Width="100px" Visible="true">
            <Template Context="indexEntry">
                @if (indexEntry.StillFound)
                {
                    <RadzenIcon Icon="visibility" />
                }
                else
                {
                    <RadzenIcon Icon="visibility_off" />
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="IndexEntry" Property="Size" Filterable="true" Title="Size" Width="250px" Visible="true">
            <Template Context="indexEntry">
                @AsReadableSize(indexEntry.Size)
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="IndexEntry" Property="FilesCount" Filterable="true" Title="Files Count" Width="250px" Visible="true">
            <Template Context="indexEntry">
                @if (indexEntry.IsFolder)
                {
                    @indexEntry.FilesCount.ToString("N0")
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="IndexEntry" Property="FoldersCount" Filterable="true" Title="Folders Count" Width="250px" Visible="true">
            <Template Context="indexEntry">
                @if (indexEntry.IsFolder)
                {
                    @indexEntry.FoldersCount.ToString("N0")
                }
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>


